@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --cream-100: #fdf6e7;
  --cream-200: #fdf2db;
  --cream-300: #fceecf;
  --cream-400: #fbeac4;
  --cream-500: #fae5b8;

  --saltwater-100: #b2d4d8;
  --saltwater-200: #a5cdd2;
  --saltwater-300: #99c5cb;
  --saltwater-400: #8cbec5;
  --saltwater-500: #7fb7be;

  --moss-100: #8ca081;
  --moss-200: #79906c;
  --moss-300: #658157;
  --moss-400: #527142;
  --moss-500: #3f612d;

  --dark-100: #666666;
  --dark-200: #4d4d4d;
  --dark-300: #333333;
  --dark-400: #1a1a1a;
  --dark-500: #000000;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(140, 190, 197, 1) 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: fit-content;
}

* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
display: none;  /* Safari and Chrome */
}
.font-evnt-thin {
  font-family: "Josefin Sans", sans-serif;
  font-size: 300%;
  padding-left: 4px;
  padding-top: 100px;
  transition: all;
  transition-duration: 300ms;
  font-weight: 100;
  left: 0
}

.survey-instructions {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;

}

.font-evnt-thin:hover {
  color: var(--saltwater-200);
  text-decoration: none;
}

.font-evnt-large {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 20px;
}

.getting-centered {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  position: relative;
  top: 60px;
}

.flex {
  flex: 1 1 0%;
  display: flex;
}

.getting-started-login {
  transition: all;
  transition-duration: 300ms;
  /* justify-content: center; */
  /* display: flex; */
  width: auto;
  border-width: 4px;
  border-radius: 9999px;
  border-color: var(--saltwater-300);
  color: var(--dark-500);
  margin-left: auto;
  margin-right: 5px;
  padding: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 175%;
  text-decoration: none;
}

.getting-started-signup {
  transition: all;
  transition-duration: 300ms;
  /* justify-content: center; */
  /* display: flex; */
  width: auto;
  border-width: 4px;
  border-radius: 9999px;
  border-color: var(--saltwater-300);
  color: var(--dark-500);
  margin-left: 5px;
  margin-right: auto;
  padding: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 175%;
  text-decoration: none;
}

.getting-started-login:hover {
  background-color: var(--saltwater-300);
  color: white;
  text-decoration: none;
}

.getting-started-signup:hover {
  background-color: var(--saltwater-300);
  color: white;
  text-decoration: none;
}
.card-padding {
  padding: 0% !important;
}

.button-border {
  transition: all;
  transition-duration: 300ms;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--dark-300);
  border-color: var(--saltwater-300);
  color: white;
  padding: 4px;
}

.button-border:hover {
  background-color: var(--dark-100);
  color: white;
  text-decoration: none;
}

.account-prop {
  transition: all;
  transition-duration: 300ms;
  color: var(--dark-500);
}

.account-prop:hover {
  color: var(--dark-100);
  text-decoration: none;
}

.my-auto {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-centering {
  width: fit-content;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border-color: white;
  border-width: 3px;
  background-color: var(--saltwater-100);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.4);
}
.margin-bottom {
  margin-top: 10px;
}
.grid-three {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.event-card-centering {
  transition: all;
  transition-duration: 300ms;
  width: fit-content;
  margin-left: 1rem;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border-color: white;
  border-width: 2px;
  background-color: var(--saltwater-100);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.4);
}

.x-scroll {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
overflow-x: scroll;
align-items: stretch;
overflow: scroll;
scroll-behavior: smooth;

}

.x-card {
  /* flex: 0 0 auto; */
  width: max-content;
  overflow-y: scroll;
  height: 30vh;
}

.persons-event {
  margin-top: 2px;
  margin-bottom: 4px;
}

.event-card-padding {
  padding: 6px;
}

/* .event-card-centering:hover {
  background-color: var(--saltwater-300);
  color: white;
  text-decoration: none;
} */

.form-centering {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-input-margin {
  margin-top: 4px;
  margin-bottom: 4px;
  transition: all;
  transition-duration: 300ms;

}

.go-to-the-center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.link-color {
  transition: all;
  transition-duration: 300ms;
}

.link-color:hover {
  background-color: var(--saltwater-100);
  color: white;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 300ms ease;
}

/* Links inside the dropdown */
.dropdown-content li {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
  transition: all 300ms ease;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: var(--saltwater-500);
}
.dropbtn {
  transition: all;
  transition-duration: 300ms;
}

.dots-position {
  position: absolute;
  top: 0;
  right: 2%;
}

.dashboard-cards {
  margin: 10px;
  margin-top: 5%;
  margin-bottom: 8%;
}

.thankyou {
 color: var(--dark-500);
 margin-bottom: 2px;
}
 
.post-pass {
  border-color: var(--dark-500);
  color: var(--dark-500);
  border-radius: 4px;
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 200px;
  border-radius: 16px;
  border-width: 3px;
}

.fc .fc-toolbar-title {
  padding-left: 10px;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding-right: 10px;
}

.header-gradient {
  background-color: var(--saltwater-500);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 8%,
    rgba(140, 190, 197, 1) 100%
  );
}

.nav-bar {
  position: absolute;
  top: .2rem;
  right: 0;
}

.nav-bar-links {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: all;
  transition-duration: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.nav-bar-single {
  padding-left: 4px;
  padding-right: 4px;
  transition: all;
  transition-duration: 300ms;
}

.nav-bar-single:hover {
  color: var(--dark-100);
  text-decoration: none;
}

.nav-bar > li {
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  /* margin-top: auto; */
  text-align: center;
  padding: 1.25em;
  font-size: 1.25em;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.iphone-fit {
  /* max-width:fit-content; */
}
.guest-cards {
  border-color: white;
  background-color: var(--saltwater-200);
  color: var(--dark-500);
  border-radius: 4px;
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 2%;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 275px;
  border-radius: 16px;
  border-width: 3px;
  transition: all;
  transition-duration: 300ms;
}

/* .guest-cards:hover {
  color: var(--saltwater-200);
  text-decoration: none;
} */

.budget-card {
  border-color: var(--dark-100);
  background-color: var(--saltwater-200);
  color: var(--dark-500);
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  margin-top: 2%;
  width: 200px;
  border-radius: 16px;
  border-width: 4px;
}

a:hover {
  text-decoration: none;
}

.delete-btn:hover {
  color: #ff3e71;
}

.show {
  display: block;
}

.hide {
  display: none;
}
.copylink {
  justify-content: right;
  display: flex;
  align-items: row;
}

.more-room {
  margin-left: 8px;
  margin-top: 8px;
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .nav-bar  {
    display: none;
  }
}

