/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 2em;
  top: 1.5em;
  transition: all;
  transition-duration: 300ms;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
  transition: all 500ms ease;
}

/* Color/shape of burger icon bars on */
.bm-burger-bars-hover {
  background: #fdf7f3;
  opacity: 100% !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fdf7f3;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 10000 !important;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(
    110deg,
    #e4f5f7 2%,
    rgba(140, 190, 197, 1) 100%
  );
  background-size: cover;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 10000 !important;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  z-index: 10000 !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 1.4em;
  transition: color 300ms ease;
}

.nav-btn {
  color: #666666;
  transition: color 300ms ease;
}

.nav-btn:hover {
  color: #a3a3a3;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000 !important;
}


@media only screen and (min-width: 600px) {
  /* For mobile phones: */
  .bm-burger-button {
    display: none;
    color: transparent;
  }
}
